<template>
  <v-form v-model="valid">
      <v-container>
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation
        >
          <v-card class="pa-5">
            <v-row>
              <v-col cols="12">
                <h2>1. Взрослый пассажир</h2>
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                        v-model="lastname"
                        :rules="[v => !!v || 'Введите пожалуйста фамилию']"
                        label="Фамилия"
                        placeholder="Сабуров"
                        required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                        v-model="firstname"
                        :rules="[v => !!v || 'Введите пожалуйста имя']"
                        label="Имя"
                        placeholder="Нурлан"
                        required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-select
                        v-model="gender"
                        :items="genders"
                        :rules="[v => !!v || 'Выберите пожалуйста нужный элемент']"
                        label="Пол"
                        placeholder="Выбрать"
                        required
                ></v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-row no-gutters>
                  <v-col cols="4">
                    <v-text-field
                            v-model="dayValue"
                            label="ДД"
                            single-line
                            outlined
                            :rules="[v => !!v || '']"
                            type="tel"
                            maxlength="2"
                            required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                            v-model="monthValue"
                            label="ММ"
                            single-line
                            outlined
                            :rules="[v => !!v || '']"
                            type="tel"
                            maxlength="2"
                            required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                            v-model="yearValue"
                            label="ГГГГ"
                            single-line
                            outlined
                            :rules="[v => !!v || '']"
                            type="tel"
                            maxlength="4"
                            required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="3">
                <v-select
                        v-model="nation"
                        :items="nations"
                        :rules="[v => !!v || 'Выберите пожалуйста нужный элемент']"
                        label="Гражданство"
                        placeholder="Выбрать"
                        required
                ></v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-select
                        v-model="docType"
                        :items="docTypes"
                        :rules="[v => !!v || 'Выберите пожалуйста нужный элемент']"
                        label="Тип документа"
                        placeholder="Выбрать"
                        required
                ></v-select>
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                        v-model="docNumber"
                        :rules="[v => !!v || 'Введите пожалуйста номер документа']"
                        label="Номер документа"
                        placeholder="03141231"
                        required
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="3">
                <v-row no-gutters>
                  <v-col cols="4">
                    <v-text-field
                            v-model="dayValid"
                            label="ДД"
                            single-line
                            outlined
                            :rules="[v => !!v || '']"
                            type="tel"
                            maxlength="2"
                            required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                            v-model="monthValid"
                            label="ММ"
                            single-line
                            outlined
                            :rules="[v => !!v || '']"
                            type="tel"
                            maxlength="2"
                            required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                            v-model="yearValid"
                            label="ГГГГ"
                            single-line
                            outlined
                            :rules="[v => !!v || '']"
                            type="tel"
                            maxlength="4"
                            required
                    ></v-text-field>
                  </v-col>
                </v-row>

              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <p>Чтобы избежать трудностей при посадке на борт, запишите имя и фамилию (-и) в точности так, как они записаны в вашем паспорт (удостоверении личности).</p>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row class="align-center">
              <v-col cols="12" md="2">
                <img src="@/assets/plane.png" alt="" class="v-responsive">
              </v-col>
              <v-col cols="12" md="7">
                <h4>Выбрать место на борту </h4>
                <p>Выберите комфортное место заранее и путешествуйте с удовольствием.</p>
              </v-col>
              <v-col cols="12" md="3">
                <v-btn
                        block
                        color="primary"
                        :disabled="!valid"
                        @click="validate"
                >
                  Выбрать
                </v-btn>
              </v-col>
            </v-row>
        </v-card>
          <v-card
                  class="mt-10 pa-5"
                  v-if="!isSubmitted"
          >
            <v-row class="align-center">
              <v-col cols="12" md="2">
                <img src="@/assets/plus.png" alt="" class="v-responsive">
              </v-col>
              <v-col cols="12" md="7">
                <h4>Дополнительные сборы агенства</h4>
                <p>Вы можете добавить дополнительные сборы/услуги для вашего агенства</p>
              </v-col>
              <v-col cols="12" md="3">
                <v-btn
                        block
                        :class="{'border-blue': show,  'primary': !show}"
                        @click="show = !show"
                >
                  {{ show ? 'Скрыть' : 'Добавить' }}
                </v-btn>
              </v-col>
            </v-row>


            <v-expand-transition>
              <div v-show="show">
                <v-row>
                  <v-col cols="12" md="8">
                    <h4>Название сбора</h4>
                    <v-text-field
                            solo
                            label="Введите название"
                            v-model="fee"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <h4>Стоимость</h4>
                    <v-text-field
                            solo
                            label="0"
                            append-icon="KZT"
                            v-model="price"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-divider></v-divider>

                <v-row class="align-center" v-if="!isSubmitted">
                  <v-col cols="9">
                    <v-card-text>
                      К оплате дополнительнх сборов: {{ price }} KZT
                    </v-card-text>
                  </v-col>
                  <v-col cols="3">
                    <v-btn
                            color="primary"
                            block
                            @click="submitted"
                    >
                      Добавить
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row class="align-center" v-if="isSubmitted">
                  <v-col cols="6">
                    <p class="ma-0">Название сбора</p>
                    <h4>{{ fee }}</h4>
                  </v-col>
                  <v-col cols="3">
                    <p class="ma-0">Стоимость</p>
                    <h4>{{ price }} KZT</h4>
                  </v-col>
                  <v-col cols="3">
                    <v-btn
                            block
                            @click="deleted"
                    >
                      Удалить
                    </v-btn>
                  </v-col>
                </v-row>
              </div>
            </v-expand-transition>
          </v-card>
          <v-card
                  class="mt-10 pa-5"
                  v-if="isSubmitted && !isChanged"
          >
            <v-row class="align-center">
              <v-col cols="12" md="2">
                <img src="@/assets/plus.png" alt="" class="v-responsive">
              </v-col>
              <v-col cols="12" md="7">
                <h4>Дополнительные сборы агенства</h4>
                <p>Вы можете добавить дополнительные сборы/услуги для вашего агенства</p>
              </v-col>
              <v-col cols="12" md="3">
                <v-btn
                        block
                        color="primary"
                        @click="change"
                >
                  {{ isDeleted ? 'Добавить' : 'Изменить' }}
                </v-btn>
              </v-col>
            </v-row>
            <v-row class="align-center" v-if="!isDeleted">
              <v-col cols="6">
                <p class="ma-0">Название сбора</p>
                <h4>{{ fee }}</h4>
              </v-col>
              <v-col cols="3">
                <p class="ma-0">Стоимость</p>
                <h4>{{ price }} KZT</h4>
              </v-col>
              <v-col cols="3">
                <v-btn
                        block
                        @click="deleted"
                >
                  Удалить
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
          <v-card
                  class="mt-10 pa-5"
                  v-if="isChanged"
          >
            <v-row class="align-center">
              <v-col cols="12" md="2">
                <img src="@/assets/plus.png" alt="" class="v-responsive">
              </v-col>
              <v-col cols="12" md="7">
                <h4>Дополнительные сборы агенства</h4>
                <p>Вы можете добавить дополнительные сборы/услуги для вашего агенства</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="8">
                <h4>Название сбора</h4>
                <v-text-field
                        solo
                        label="Введите название"
                        v-model="fee"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="4">
                <h4>Стоимость</h4>
                <v-text-field
                        solo
                        label="0"
                        append-icon="KZT"
                        v-model="price"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row class="align-center">
              <v-col cols="6">
                <v-card-text>
                  К оплате дополнительнх сборов: {{ price }} KZT
                </v-card-text>
              </v-col>
              <v-col cols="3">
                <v-btn
                        color="border-blue"
                        block
                        @click="deleted"
                >
                  Удалить
                </v-btn>
              </v-col>
              <v-col cols="3">
                <v-btn
                        color="primary"
                        block
                        @click="saved"
                >
                  Сохранить
                </v-btn>
              </v-col>
            </v-row>

          </v-card>

        </v-form>
      </v-container>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    show: false,
    isSubmitted: false,
    isDeleted: false,
    isChanged: false
  }),
  methods: {
    validate () {
      this.$refs.form.validate()
    },
    submitted() {
      this.isSubmitted = true;
    },
    deleted() {
      this.isDeleted = true;
      this.isChanged = false;
      this.isSubmitted = true;
    },
    change() {
      this.isChanged = true;
    },
    saved() {
      this.isChanged = false;
      this.isSubmitted = true;
      this.isDeleted = false;
    }
  },
  computed: {
    firstname: {
      get() {
        return this.$store.state.firstname;
      },
      set(value) {
        this.$store.commit('updateFirstName', value);
      }
    },
    lastname: {
      get() {
        return this.$store.state.lastname;
      },
      set(value) {
        this.$store.commit('updateLastName', value);
      }
    },
    gender: {
      get() {
        return this.$store.state.gender;
      },
      set(value) {
        this.$store.commit('updateGender', value);
      }
    },
    genders: {
      get() {
        return this.$store.state.genders;
      },
    },
    dayValue: {
      get() {
        return this.$store.state.dayValue;
      },
      set(value) {
        this.$store.commit('updateDayValue', value);
      }
    },
    monthValue: {
      get() {
        return this.$store.state.monthValue;
      },
      set(value) {
        this.$store.commit('updateMonthValue', value);
      }
    },
    yearValue: {
      get() {
        return this.$store.state.yearValue;
      },
      set(value) {
        this.$store.commit('updateYearValue', value);
      }
    },
    nation: {
      get() {
        return this.$store.state.nation;
      },
      set(value) {
        this.$store.commit('updateNation', value);
      }
    },
    nations: {
      get() {
        return this.$store.state.nations;
      },
    },
    docType: {
      get() {
        return this.$store.state.docType;
      },
      set(value) {
        this.$store.commit('updateDocType', value);
      }
    },
    docTypes: {
      get() {
        return this.$store.state.docTypes;
      },
    },
    docNumber: {
      get() {
        return this.$store.state.docNumber;
      },
      set(value) {
        this.$store.commit('updateDocNumber', value);
      }
    },
    dayValid: {
      get() {
        return this.$store.state.dayValid;
      },
      set(value) {
        this.$store.commit('updateDayValid', value);
      }
    },
    monthValid: {
      get() {
        return this.$store.state.monthValid;
      },
      set(value) {
        this.$store.commit('updateMonthValid', value);
      }
    },
    yearValid: {
      get() {
        return this.$store.state.yearValid;
      },
      set(value) {
        this.$store.commit('updateYearValid', value);
      }
    },
    price: {
      get() {
        return this.$store.state.price;
      },
      set(value) {
        this.$store.commit('updatePrice', value);
      }
    },
    fee: {
      get() {
        return this.$store.state.fee;
      },
      set(value) {
        this.$store.commit('updateFee', value);
      }
    },
  }

};
</script>

<style lang="scss">
  .border-blue {
    border: 1px solid blue;
    background: white;
    color: blue!important;
  }
</style>
