<template>
  <v-app>
      <MyForm />
  </v-app>
</template>

<script>
import MyForm from "./components/MyForm";

export default {
  name: "App",

  components: {
    MyForm
  },

  data: () => ({
    //
  })
};
</script>
